//COLORES DE MARCA
$color-rojo: #E60000;
$color-blanco: #FFFFFF;
$color-negro-tech: #121212;
$color-gris-oscuro: #1F1F1F;
$color-gris-claro: #A0A0A0;

//TIPOGRAFIAS
$fuente-titulos: 'Montserrat', sans-serif;
$fuente-cuerpo: 'Roboto', sans-serif;

//SOMBRAS
$sombra-suave: 0 4px 15px rgba(0, 0, 0, 0.3);