* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-negro-tech; // Fondo oscuro como todo hub de hardware
    color: $color-blanco;
    font-family: $fuente-cuerpo;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}