.categoria-card {
    background-color: $color-gris-oscuro;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.4s;
    text-align: center;

    h3 {
        color: $color-rojo;
        margin-bottom: 10px;
    }

    img {
        width: 200%;
        height: 180px;
        border-radius: 5px;
        margin-top: 15px;
        object-fit: cover;
        object-position: center;
    }

    &:hover {
        border-color: $color-rojo;
        transform: scale(1.02);
    }
}