.navbar {
    background-color: $color-gris-oscuro;
    padding: 1rem 5%;
    @include flex-centro(row, space-between, center);
    border-bottom: 2px solid $color-rojo; // El detalle estético tech

    .logo {
        font-family: $fuente-titulos;
        font-size: 1.8rem;
        font-weight: bold;
        
        a {
            color: $color-blanco;
            span {
                color: $color-rojo; // El "Hub" en rojo
            }
        }
    }

    .nav-links {
        display: flex;
        gap: 25px;

        li {
            a {
                color: $color-gris-claro;
                font-weight: 500;
                transition: 0.3s;

                &:hover {
                    color: $color-rojo;
                    text-shadow: 0 0 10px rgba(230, 0, 0, 0.5);
                }
            }
        }
    }
}